@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 >
    <div class="row ">
        <div class="col-md-6">
            <div class="card h-100">
            <div class="card-body cute-card" >
            <h1 class="Card-Title">Welcome to our Music Record Store!</h1>
            <p class="card-text lead">Discover a wide collection of music records here!</p>
            <a href=@Url.ActionLink("TiledIndex", "Records") class="cute-button">See More</a>
         </div>
        </div>
    </div>
        <div class="container mt-5">
            <div class="row ">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body cute-card" >
                            <h1 class="Card-Title">Find Your New Favorite Band.</h1>
                            <p class="card-text lead">Music library feeling a bit stale? Explore our catalogue of artists, you may discover something new!</p>
                            <a href=@Url.ActionLink("TiledIndex", "Artists") class="cute-button">See more</a>
                        </div>
                    </div>
                </div>

                <div class="container mt-5 " >
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="card h-100">
                                <div class="card-body cute-card">
                                    <h1 class="Card-Title">Confused? Us too.</h1>
                                    <p class="card-text lead">Metal has a lot of subgenres! If you want to know more, check out the Genres 
                                        page for helpful summaries of some of the genres we carry. </p>
                                    <a href=@Url.ActionLink("Index", "Genres") class="cute-button">See more</a>
                                </div>
                            </div>
                        </div>
</div>
</div>
</div>
