@model IEnumerable<Storefront.DATA.EF.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres and Subgenres</h1>
@if (User.IsInRole("Admin"))
{
    <h3> <a asp-action="Create">Create New</a></h3>
}
@*Ajax step 6*@
<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="text-center" id="messageContent"</div>
    </div>
</div>
@*Ajax Step 3*@
<table class="table" id="genretable" width="40%" margin-bottom="20px">
    <thead>
        <tr style="padding: 5px;">
            <th style="padding: 5px;"> 
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
         
           
        </tr>
    </thead>   

    <tbody>
@foreach (var item in Model) {
    @*Ajax step 4*@
        <tr id="genre-@item.GenreId">
            <td style="padding: 5px;">
                    <a asp-action="Details" asp-route-id="@item.GenreId">@Html.DisplayFor(modelItem => item.GenreName) </a>
            </td>
            <td>
               <button type="button"
                            class=" btn-link detailsLink btn cute-button"
                   id="@item.GenreId"
                   data-toggle="modal"
                   data-target="#genreDetails">Details</button>
                </td>
        </tr>   

}
    </tbody>
</table>

<div class="modal fade" id="genreDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
            </div>
            <div class="modal-body" id="detailsBody">
                <div class="modal-footer">
                    <button type="button"class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>
</div>





<!--Ajax step 5--!>
    @section Scripts {
    <script src="~/js/genres.js"></script>
    }
